<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans      
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd      
                        http://www.springframework.org/schema/context      
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd      
                        http://www.springframework.org/schema/mvc      
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 创建shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro的核心安全接口,这个属性是必须的 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 身份认证失败跳转的地址，没有登录当然就跳转到登录地址 -->
		<property name="loginUrl" value="/login.html" />
		<!-- 身份认证成功跳转的地址，一般登录成功后会跳转到系统首页 -->
		<property name="successUrl" value="/html/index.html" />
		<!-- 权限认证失败跳转的地址 ，用来提示当前用户没有操作权限，可以不需要 -->
		<property name="unauthorizedUrl" value="/html/test.html" />
	<!-- 此处配置的是自定义过滤器 -->
	<!-- 	<property name="filters">
			<map>
				<entry key="ajax">
					<bean class="com.maven.filter.AjaxFilter"/>
				</entry>
			</map>
		</property> -->
		<!-- Shiro连接约束配置,即过滤链的定义 -->
		<property name="filterChainDefinitions">
			<value>
				/js/jquery.min.js=anon
				/js/bootstrap.min.js=anon
				/js/common.js=anon
				/js/login.js=anon
				/css/bootstrap.min.css=anon
				/css/login.css=anon
				/css/login.css=anon
				<!-- /login.html=anon
				/login/**=anon
				/logout=logout
				/html/**=authc
				/user/**=authc,roles[admin]
				/role/**=authc,roles[admin] -->
				<!-- /resource/**=authc,roles[admin]
				/**=authc -->
			</value>
		</property>
	</bean>

	<!-- 创建securityManager对象，多个realm时请使用realms代替realm -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm" />
		<!-- 注册cache缓存管理器 -->
		<property name="cacheManager" ref="cacheManager"></property>
		<!-- 注册session会话管理器 -->
		<property name="sessionManager" ref="sessionManager" />
		<!-- 注册记住我管理器 -->
		<property name="rememberMeManager" ref="rememberMeManager" />
	</bean>


	<!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 继承自AuthorizingRealm的自定义Realm,即指定Shiro验证用户登录的类为自定义的ShiroDbRealm.java -->
	<bean id="myRealm" class="com.maven.realm.MyRealm">
		<!-- 加密 -->
		<property name="credentialsMatcher" ref="credentialsMatcher" />
	</bean>

	<!-- 加密管理器对象 -->
	<bean id="credentialsMatcher"
		class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="md5" />
		<property name="hashIterations" value="1" />
	</bean>

	<!-- 创建sessionManager对象导入自定义的RedisSessionDao -->
	<bean id="sessionManager" class="com.maven.session.CustomSessionManager">
		<!-- 配置name的时候一定要注意此处的name不是自己随便写的而是存在于某个类中的属性 -->
		<property name="sessionDAO" ref="redisSessionDao" />
		<property name="sessionListeners" ref="myShiroSessionListener" />
		<!-- 会话超时时间(30分钟)，单位：毫秒 -->
		<property name="globalSessionTimeout" value="1800000" />
		<property name="deleteInvalidSessions" value="true" />
		<!-- 定时清理失效会话, 清理用户直接关闭浏览器造成的孤立会话 -->
		<property name="sessionValidationSchedulerEnabled" value="true" />
		<!-- 每一个小时检查一次session -->
		<property name="sessionValidationInterval" value="3600000" />
	</bean>

	<!-- 创建自定义的sessionDao -->
	<bean id="redisSessionDao" class="com.maven.session.RedisSessionDao" />

	<!-- shiroSessionListener 监听类 -->
	<bean id="myShiroSessionListener" class="com.maven.listener.MyShiroSessionListener" />

	<!-- 创建自定义的cacheManager管理器对象 -->
	<bean class="com.maven.cache.RedisCacheManager" id="cacheManager" />

	<!-- 创建记住我cookie管理器 -->
	<bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
		<property name="cookie" ref="rememberMeCookie" />
		<property name="cipherKey"
			value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
	</bean>
	<!-- 记住我cookie -->
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
		<!-- cookie名称 -->
		<constructor-arg value="rememberMe" />
		<property name="path" value="/"></property>
		<property name="httpOnly" value="true" />
		<!-- 默认记住30天 -->
		<property name="maxAge" value="2592000" />
	</bean>

</beans>