<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maven.dao.RoleDao">

	<resultMap type="com.maven.model.pojo.Role"
		id="RoleResultMap">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="role_desc" property="roleDesc"
			jdbcType="VARCHAR" />
		<result column="role_name" property="roleName"
			jdbcType="VARCHAR" />
		<result column="resource_ids" property="resourceIds"
			jdbcType="VARCHAR" />
		<result column="available" property="available"
			jdbcType="INTEGER" />
	</resultMap>

	<select id="findAll" resultMap="RoleResultMap"
		parameterType="com.maven.model.query.QueryRole">
		select * from sys_role where 1=1
		<if test="roleName!=null and roleName!=''">
			and rolename like CONCAT(CONCAT('%', #{roleName}),'%')
		</if>
		<if test="available!=2">
			and available = #{avaiable}
		</if>
		<if test="offset!=null and limit!=null">
			limit #{offset},#{limit}
		</if>
	</select>

	<select id="queryRoleCount" resultType="int">
		select count(*) from
		sys_role
	</select>

	<insert id="createRole"
		parameterType="com.maven.model.pojo.Role">
		insert into sys_role
		(role_desc,role_name,available)
		values(#{roleDesc},#{roleName},#{available})
	</insert>

	<delete id="deleteRole" parameterType="java.lang.Integer">
		delete from sys_role where
		id = #{id}
	</delete>

	<update id="updateRole"
		parameterType="com.maven.model.pojo.Role">
		update sys_role set
		role_name = #{roleName},role_desc =
		#{roleDesc} where id = #{id}
	</update>

	<!-- 根据角色id查找资源id字符串 -->
	<select id="findRoleNameById" parameterType="int"
		resultType="string">
		select role_name from sys_role where id = #{id}
	</select>

	<!-- 根据角色id查找角色 -->
	<select id="findRoleById" parameterType="int"
		resultMap="RoleResultMap">
		select *
		from sys_role where id = #{id}
	</select>

	<select id="findRoleNameByUserName" parameterType="string"
		resultType="string">
		select role_name from sys_role where id = (select role_ids
		from sys_user where username = #{username})
	</select>
	<!-- 根据角色名查询角色名是否存在 -->
	<select id="queryRoleNameIsExist" parameterType="string"
		resultType="int">
		select count(id) from sys_role where role_name = #{roleName}
	</select>

	<!-- 根据id更新角色状态 -->
	<update id="updateRoleState"
		parameterType="com.maven.model.pojo.Role">
		update sys_role set available = #{available} where id =
		#{id}
	</update>
</mapper>
